footer#footer.footer
  include widgets
  p.copyright
    small
      = '© ' + moment().format('YYYY') + ' ' + config.author
      br
      | Powered by 
      a(href="https://hexo.io" rel="external" target="_blank") Hexo
      | , Theme by 
      a(href="https://github.com/hyunseob" rel="external" target="_blank") HyunSeob
div#lisence(role="alertdialog" aria-label="콘텐츠 이용 저작권 안내" aria-hidden="true")
  img(src="#{ theme.ccl.url }" alt="ccl-by-nc-nd" width="#{ theme.ccl.width }" height="#{ theme.ccl.height }")
  div.lisense-text
    | 본 블로그의 모든 자료는 
    a(rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.ko" target="_blank") 크리에이티브 커먼즈 저작자표시-비영리-변경금지 4.0 국제 라이선스
    | 에 따라 저작권 보호를 받으며 저작권 위반시 법적인 처벌을 받을 수 있습니다. 
    br
    | 퍼가실 때에는 출처를 명시해 주시고, 사용처를 덧글로 남겨주시면 감사합니다.
    div.agree
      input(type="checkbox" id="agree-lisence")
      label(for="agree-lisence") 내용을 확인 했습니다.
div.dimed