doctype html
html(lang=config.language)
  head
    include head
  body(itemscope itemtype="https://schema.org/WebPage")
    include menu
    .page-background
    .content-container
      .content-outer
        .content-inner(itemscope itemtype="https://schema.org/Blog")
          if body
            div!= body
          else
            block content
    include footer

    if theme.dynamic_menu
      script(src="/js/index.min.js")
    else
      script(src="/js/main.min.js")

    if page.viewer360
      script(src="//storage.googleapis.com/vrview/2.0/build/vrview.min.js")
      script.
        function onVrViewLoad() {
          var j = document.getElementsByClassName('viewer360');
          for(var i = -1, item = null; item = j[++i];){
            item.setAttribute("id", "vrview" + i);

            new VRView.Player("#vrview" + i, {
              image: item.getAttribute("data-src"),
              width: item.getAttribute("data-width") || 800,
              height: item.getAttribute("data-height") || 400,
              is_stereo: !!(item.getAttribute("data-stereo") === "true"),
              default_yaw: item.getAttribute("data-yaw") || 0
            });
          }
        }
        window.addEventListener('load', onVrViewLoad);

    if theme.liveRe.uid
      script.
        (function(d, s) {
           var j, e = d.getElementsByTagName(s)[0];
           if (typeof LivereTower === 'function') { return; }
           j = d.createElement(s);
           j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
           j.async = true;
           e.parentNode.insertBefore(j, e);
        })(document, 'script');
