#sharer.sharer
  .sharer-inner
    .sharer__right
      button.sharer__item#sharer-facebook
        i.fab.fa-facebook-square
      button.sharer__item#sharer-twitter
        i.fab.fa-twitter
      button.sharer__item#sharer-pinterest
        i.fab.fa-pinterest
      button.sharer__item#sharer-pocket
        i.fab.fa-get-pocket
