@page{
	size: A4;
	margin: 1.5cm ;
  size: auto
}
@media print{
  html, body{
    width: 210mm;
    height: 297mm;
    font-size: 10pt;
    background-color: transparent
  }
  .menu,  
  .article__author,
  .sharer,
  #lv-container,
  .related-posts,
  .widgets,
  .footer{
    display: none
  }
  .content-outer{
    margin-top: 0
  }
  .copyright{
    padding: 1rem 0
  }
  .article{
    padding: 0;
    min-width:100%
  }
  .article .article__contents img{
    max-width: 90%;
    margin: 0;
    filter: none
  }
  
  .article__contents a[href]:not([href^="#"]),
  .article__contents a[href]:not([href^="tel"]),
  .article__contents a[href]:not([href^="mailto"]){
    color: inherit;
  }
  .article__contents a[href]:not([href^="#"]):after{
    content: " ( " attr(href) " ) "; 
    font-size: .65em
  }
  .article__contents a[href^="#"]:after,
  .article__contents a[href^="tel"]:after,
  .article__contents a[href^="mailto"]:after{
    content: none !important
  }
  .article.resume{
    & .article__title,
    & .article__meta,
    & .resume-status,
    & .article__meta + hr{
      display:none
    }

    & .profile-img img{
      content: url(//farm1.staticflickr.com/863/41108552022_61413423d5_b.jpg);
      display:block;
      margin: 10% auto;
      max-width: 100%;
      width: 100%;
    }
    
    & .profile-img:after{
      display: block;
      content: "지성봉 (Seongbong Ji), Web Publisher";
      margin-bottom: 1em;
      font-weight: 900;
      font-size: 3rem;
    }
    & .resume-introduce{
      font-size: 1.25rem;
      page-break-after: always
    }
    & h3 ~ h3{
      margin-top: 4rem
    }
    & li li, & p{
      page-break-inside: avoid
    }
    & #Career-Description{
      page-break-before: always
    }
  }
}